@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: text-Neue;
   src: url("/fonts/font.ttf");
   font-display: swap;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
ol,
li {
   list-style: none;
}

body {
   background-color: #0b0414;
   font-family: text-Neue;
   padding-bottom: 40px;
}

main {
   overflow-y: hidden;
}

.text-gradient {
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(183deg, #fff 36.16%, rgba(255, 255, 255, 0) 92.66%);
}

.custom-container {
   @apply max-w-[1728px] w-full m-auto px-48 max-2xl:px-20 max-xl:px-10 max-lg:px-6;
}

.custom-select-none {
   @apply pointer-events-none select-none;
}

/* ==================== HEADER ==================== */

.header {
   @apply custom-container m-auto py-11 max-xl:py-9 max-md:py-5;
}

.header-ul {
   @apply flex items-center justify-between;
}

.header-logo {
   @apply w-[58px] h-[54px];
}

.header-text {
   @apply text-2xl max-lg:text-xl max-md:text-base max-sm:text-sm text-[#ffffff80];
}

/* ================================================= */

.gradient {
   background: radial-gradient(63.94% 63.94% at 50% 0%, #ffffff1f 0%, #ffffff00 100%), #ffffff03;
}

/* ================================================= */

.inp {
   background: linear-gradient(69deg, #ffffff33 10.42%, rgba(255, 255, 255, 0.04) 77.11%);
}

.swiper {
   overflow: visible !important;
}

.mentor {
   font-size: calc(98px + (337 - 98) * ((100vw - 400px) / (1536 - 400)));
}

/* ======================================================= */

@mixin bullet($right) {
   width: 5px;
   height: 30px;
   position: absolute;
   z-index: 100;
   top: 50%;
   translate: 0 -50%;
   right: $right;
   display: inline-block;
   border-radius: 2.5px;
   background: #79797980;
   pointer-events: none;
}

.glowable-text {
   color: black;
}

[glow] .glowable-text {
   color: var(--glow-color);
}

.range-warapper {
   padding-left: 20px;
   padding-right: 40px;
   height: 87px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 11px;
   background: #0b0414;
   box-shadow:
      0px -20px 36px 0px rgba(53, 14, 103, 0.54) inset,
      0px 4px 4px 0px #270b4b inset;

   .range {
      width: 100%;
      position: relative;

      .range-slide {
         position: absolute;
         width: 90%;
         height: 100%;
         background: transparent;
         appearance: none;
         right: 0;
         top: 2px;
         z-index: 9;
         outline: none;
         opacity: 0;

         &::-ms-expand {
            display: none;
         }

         &::-ms-clear {
            display: none;
         }

         &::-webkit-slider-thumb {
            width: 35px;
            height: 35px;
            margin: -3px 0 0 -3px;
            cursor: grab;
            appearance: none;
         }
      }

      .circle {
         position: absolute;
         top: -6px;
         width: 60px;
         height: 60px;
         border-radius: 9px;
         box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
         border: solid 2px #dbdbdb;
         background: white;
         display: inline-block;
         transition: 0.2s;
         cursor: grab;
      }

      .range-value {
         position: absolute;
         top: -2px;
         left: 0;
         display: inline-block;
         width: 20%;
         height: 50px;
         background: linear-gradient(90deg, #61c9dc 0%, #415ffe 100%);
         border-radius: 10px 0 0 10px;
         transition: 0.2s;
         box-shadow: 0px 0px 8px 0px #4e89f1;
      }

      &::after {
         content: "";
         width: 100%;
         height: 47px;
         background: transparent !important;
         display: block;
      }

      &::before {
         @include bullet(0);

         content: "";
      }

      .bullet {
         @include bullet(10%);

         &-1 {
            @include bullet(20%);
         }

         &-2 {
            @include bullet(30%);
         }

         &-3 {
            @include bullet(40%);
         }
         &-4 {
            @include bullet(50%);
         }
         &-5 {
            @include bullet(60%);
         }
         &-6 {
            @include bullet(70%);
         }
         &-7 {
            @include bullet(80%);
         }
         &-8 {
            @include bullet(90%);
         }
      }
   }
}

.container {
   text-align: center;
}

.like {
   animation: like 7s ease infinite;
}

.thunder {
   animation: thunder 3s ease infinite;
}

.star {
   animation: star 6s ease infinite;
}

@keyframes like {
   0% {
      @apply -bottom-16;
   }
   50% {
      @apply -bottom-32;
   }
   100% {
      @apply -bottom-16;
   }
}

@keyframes thunder {
   0% {
      @apply -top-1;
   }
   50% {
      @apply top-1;
   }
   100% {
      @apply -top-1;
   }
}

@keyframes star {
   0% {
      @apply -bottom-16;
   }
   50% {
      @apply -bottom-0;
   }
   100% {
      @apply -bottom-16;
   }
}

// ====================================== //

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   // background: #cc00ff7d;
   background: white;
   border-radius: 10px;
}
